.a{

    margin-top:275px;
    margin-left: 350px;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 3, 49);
    
}
.b{
    position: absolute;
    width: 200px;
    height: 250px;
    margin-top: -10em;
    margin-left: 56em;
    background-image: url("img1.jpg");
    background-position: center;
    transform: rotate(20deg);
}

